{% if template contains 'product' %}
  
  {% assign category_found = false %}
  {% for tag in product.tags %}
    {% if category_found == false %}
      {% if tag == 'Boards' or tag == 'Clothing' or tag == 'Wetsuits' or tag == 'Accessories' %}
        {% assign current_tag = tag | handleize %}
        {% assign category_found = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

<script>console.log('{{ current_tag }}')</script>

<style>
  .category-banner-container {
    height: 179px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .category-header-text {
    text-transform: uppercase;
    font-size: 95px;
    width: 1355px;
  }

  @media (max-width: 768px) {
    .category-banner-container {
      height: 117px;
    }
  }
</style>

<div class="category-banner-container" 
style="background-color: {% if current_tag == 'boards' %}#AED7EA;{% elsif current_tag == 'clothing' %}#7E8D79;{% elsif current_tag == 'wetsuits' %}red;{% elsif current_tag == 'accessories' %}blue;{% else %}white;{% endif %}">
  <h2 class="category-header category-header-text">{{ current_tag }}</h2>
</div>

{% schema %}
  {
    "name": "Category Banner",
    "settings": [
      {
        "type": "color",
        "id": "background_color1",
        "label": "Boards Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "background_color2",
        "label": "Clothing Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "background_color3",
        "label": "Wetsuits Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "background_color4",
        "label": "Accessories Background Color",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Category Banner"
      }
    ]
  }
  
{% endschema %}