<style>
  .category-banner-container {
    height: 179px;
  }

  @media (max-width: 768px) {
    .category-banner-container {
      height: 117px;
    }
  }
</style>

<div class="category-banner-container">

</div>

{% schema %}
  {
    "name": "Category Banner",
    "settings": [],
    "presets": [
      {
        "name": "Category Banner"
      }
    ]
  }
  
{% endschema %}